.aboutUs,.email,.saveFa,.todos{
    cursor: pointer;
  }

  .item{
      display:flex;
    
      height: 100%;
      width: 100%;
   
      
  }

  
  #canvitas{
    position: relative;
   
    width:505px;
    height:505px;
    border-style: solid;
    border-radius: 5px;
   
  }


  @media only screen and (max-width: 600px) { 

    .screen1,.screen2{
      display: none; 
    } 
  }
  .divCanvitas{
    height: 100%;
    width: 44.33%;
    min-height: 500px;
  }





  .guide{
      margin-top:1%;
      margin-bottom: 1%;
  
      cursor:pointer;
      
  }

  .saveFa{
    margin-right:20%;
  }

  .guideContainer{
      text-align:center;
  }