.aboutUs,.email,.saveFa,.todos,.downloadFa,.infoDowloadFa{
    cursor: pointer;
  }

  .item{
      display:flex;
    
      height: 100%;
      width: 100%;
   
      
  }

  
  #canvitas{
    position: relative;
   
    width:505px;
    height:505px;
    border-style: solid;
    border-radius: 5px;
   
  }

.FaResults{
  height:500px;
  margin-top: 2.5%;
  overflow-y: scroll;
  
}


  @media only screen and (max-width: 600px) { 

    .screen1,.FaResults{
      display: none; 
    } 
  }
  .divCanvitas{
   
    width: 44.33%;
    min-height: 500px;
  }





  .guide{
      margin-top:1%;
      margin-bottom: 1%;
  
      cursor:pointer;
      
  }

  .downloadFa{
    margin-right:20%;
  }


  .guideContainer{
      text-align:center;
  }


  .tostada{
    position:absolute;
    left: 40%;
    top: 0;
    z-index: 1;

  }