.aboutUs,.email,.saveFa,.todos,.downloadFa,.infoDowloadFa{
    cursor: pointer;
  }

  body{
    height: 650px;
    max-height: 650px;
    min-height: 650px;
    overflow:scroll;
    
  }

  #teamInfo{
    margin:auto;
    text-align:center;
}

#about,#instructions{
  color:white
}
#about:hover,#instructions:hover{
  color:gold
}
  .item{
      display:flex;
    
      height: 100%;
      width: 100%;
   
      
  }

  
  #canvitas{
    position: relative;
   
    width:505px;
    height:505px;
    border-style: solid;
    border-radius: 5px;
   
  }

.FaResults{
  height:500px;
  margin-top: 2.5%;
  overflow-y: scroll;
  
}

.tox{

  width:400px;
  margin-top: 75.5%;
  margin-left:3%;
  min-height: 100px;

}


@media only screen and (max-width: 1250px) { 

  .screen1{
     display: none; 
   } 
   .tox{
     display:none;
   }
 
 }

@media only screen and (max-width: 1150px) { 

 .FaResults{
    display: none; 
  } 
  .divCanvitas{
    margin-left:30%;
  }

}
@media only screen and (max-width: 800px) { 


   .divCanvitas{
     margin-left:15%;
   }
 
 }
  @media only screen and (max-width: 600px) { 

    .FaResults{
      display: none; 
    }
    .divCanvitas{
      margin-left:0;
    }
  }
  .divCanvitas{
   
    width: 44.33%;
    min-height: 500px;
  }





  .guide{
      margin-top:1%;
      margin-bottom: 1%;
  
      cursor:pointer;
      
  }

  .downloadFa{
    margin-right:20%;
  }


  .guideContainer{
      text-align:center;
  }


  .tostada{
    position:fixed;
    display:block;
    left: auto;
    top:0 ;
    z-index: 11;

  }