.aboutUs,
.email,
.saveFa,
.todos,
.downloadFa,
.infoDowloadFa {
    cursor: pointer;
}

body {
    overflow: scroll;
    overflow-x: hidden;
    margin-bottom: 2%;
}

#teamInfo {
    margin: auto;
    text-align: center;
} 

.spinner {
    text-align: center;
}

.automataRun {
    margin-right: auto;
    margin-left: auto;
    margin-top: 1%;
    margin-bottom: 3%
}


.alphabet {
    width: 16.66666667%;
    height: 120px;
    margin-bottom: 10px;
    margin-top: 10px;
    margin-left: 2%;
    border-right: 1px solid #dee2e6!important;
    border-left: 1px solid #dee2e6!important;
    border-width: 2px!important;
}

.canvasExtra {
    display: flex;
}

.canvas {
    margin-left: 2%;
}

.konvajs-content {
    border-radius: 10px;
    border-style: solid;
}

.item {
    display: flex;
    height: 100%;
    width: 100%;
}

.FaResults {
    height: 500px;
    margin-top: 2.5%;
    overflow-y: scroll;
}

.guide {
    margin-top: 1%;
    margin-bottom: 1%;
    cursor: pointer;
}

.accepted {
    overflow-y: scroll
}

#stepsDiv {
    margin-top: 10% !important;
}

.errors,
.accepted {
    height: 350px;
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}





.tostada {
    position: fixed;
    display: block;
    left: auto;
    top: 0;
    z-index: 11;
}