.aboutUs,.email,.saveFa,.todos,.downloadFa,.infoDowloadFa{
    cursor: pointer;
  }

  body{

    overflow:scroll;
    
  }

  #teamInfo{
    margin:auto;
    text-align:center;
}

#about,#instructions{
  color:white
}
#about:hover,#instructions:hover{
  color:gold
}


.canvas,.canvasExtra{
  height:50%
}

.inputString{
  height: 120px;
  margin-bottom: 10px;
  margin-top: 10px;
  text-align: center!important;
  border-right: 1px solid #dee2e6!important;
  width: 41.66666667%;
  flex: 0 0 auto;
  border-width: 2px!important;

}
.json{
  text-align: center!important;
}
.jsonInput{
  width: 41.66666667%;
 
}

.runByStep,.runCont,.jsonDownload,.jsonUpload{
  margin-top:2%;
  
}
.runByStep,.jsonDownload{
  margin-right:1%
}
#testString{
  margin-top:5%;
  margin-left:13%;
  width:75%
}

#jsonInput{
  margin-top:7%;
  margin-left:13%;
  width:75%;
  text-align: center!important;
}

#setAlphabet{
  margin-top:20%;
  margin-left:13%;
}
.alphabet{
  width: 16.66666667%;
  height: 120px;
  margin-bottom: 10px;
  margin-top: 10px;
  margin-left:2%;  
  border-right:1px solid #dee2e6!important;
  border-left:1px solid #dee2e6!important;
  border-width: 2px!important;
}
.canvasExtra{
  display:flex;
}
.canvas{
  margin-left: 2%;

}

.konvajs-content{
  border-radius: 10px;
  border-style: solid;
  width: 910px !important;
  height: 510px !important;
}
  .item{
      display:flex;
    
      height: 100%;
      width: 100%;
   
      
  }

  
  #canvitas{
    position: relative;
   
    width:505px;
    height:505px;
    border-style: solid;
    border-radius: 5px;
   
  }

.FaResults{
  height:500px;
  margin-top: 2.5%;
  overflow-y: scroll;
  
}

.tox{

  width:400px;
  margin-top: 75.5%;
  margin-left:3%;
  min-height: 100px;

}


@media only screen and (max-width: 1250px) { 

  .screen1{
     display: none; 
   } 
   .tox{
     display:none;
   }
 
 }

@media only screen and (max-width: 1150px) { 

 .FaResults{
    display: none; 
  } 
  .divCanvitas{
    margin-left:30%;
  }

}
@media only screen and (max-width: 800px) { 


   .divCanvitas{
     margin-left:15%;
   }
 
 }
  @media only screen and (max-width: 600px) { 

    .FaResults{
      display: none; 
    }
    .divCanvitas{
      margin-left:0;
    }
  }
  .divCanvitas{
   
    width: 44.33%;
    min-height: 500px;
  }





  .guide{
      margin-top:1%;
      margin-bottom: 1%;
  
      cursor:pointer;
      
  }

  .downloadFa{
    margin-right:20%;
  }


.canvasContainer, .canvas{
  display:flex;
  flex-direction: column;
}
.buttonsCanvas{
  margin-right:5%;
  margin-top: 0.5%;
  gap:10px;
  display:flex;
  justify-content: flex-end;
  
}
  .tostada{
    position:fixed;
    display:block;
    left: auto;
    top:0 ;
    z-index: 11;

  }